.row {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.col {
    display: flex;
    flex-direction: column;
}

.delete-description {
    gap: 1rem;
}

.button-group {
    gap: 1rem;
}