:host {
    z-index: 300;
}

.row {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.col {
    display: flex;
    flex-direction: column;
}

.dialog-description {
    margin-bottom: 1rem;
}

.input-group {
    margin: 0.75rem 0;
    gap: 0.75rem;
}

.input {
    width: 100%;
}

.button-group {
    gap: 1rem;
}